name: Artifact Cleanup

# doc:               https://docs.github.com/en/actions
# variables:         https://docs.github.com/en/actions/learn-github-actions/environment-variables
# secrets:           https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#example-17
# env:               https://docs.github.com/en/actions/learn-github-actions/environment-variables
# reusable workflow: https://docs.github.com/en/actions/learn-github-actions/reusing-workflows#access-to-reusable-workflows

on: 
  workflow_call:
    inputs:
      age-value: 
        type: number
        description: "max age value"
        required: true
      age-unit: 
        # type: string
        type: choice
        options: 
          - seconds
          - minutes
          - hours
          - days
          - months
        description: "max age unit"
        required: true
      skip-recent: 
        type: number
        description: "skipping"
        required: false
        default: 0

jobs:
  remove-old-artifacts:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Remove old artifacts
      uses: c-hive/gha-remove-artifacts@v1
      with:
        age: '${{ inputs.age-value }} ${{ inputs.age-unit }}' # '<number> <unit>', e.g. 5 days, 2 years, 90 seconds, parsed by Moment.js
        # Optional inputs
        # skip-tags: true
        skip-recent: ${{ inputs.skip-recent }}